@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00072d;
  color: white;
}
:root {
  --color-primary: #1d2d44;    
  --color-secondary: #0a2472;  
  --color-bg: #00072d;       
  --color-highlight: #0e6ba8;
  --color-ternary: #0d162bd2;        
}

.transition-input {
  transition: width 0.2s ease-in-out;
}

.sticky-div {
      position: sticky;
      bottom: 10px;
       /* This specifies the threshold at which the div will stick *//* Add a background color to make it visible */
    }

.glass {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
